@tailwind base;
@tailwind components;
@tailwind utilities;

body{
     padding: 0;
     margin: 0;
     min-height: 100%;
     overflow-x: hidden;

}
.header {
     background: green ;
     @apply w-full fixed text-white top-0 h-20 flex items-center justify-between shadow-lg px-4
}

.swiper-container{
     z-index: -1;
     @apply w-11/12 h-80 mx-auto
}
.card-container{
width: 350px;
height: 360px;
     @apply  flex flex-col mx-auto  items-center border-2 shadow-md rounded-md
}
input{
     border: none;
     outline: unset;
}